- if ! @menu_items.empty?
  %nav.categories
    - display_menu(Nesta::Menu.for_path('/'), :root => '/', :class => 'docs', :levels => 2)
/    - display_menu(Nesta::Menu.for_path('/docs'), :root => '/docs', :class => 'docs')
